main.home {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

/* SECTION 1 - HEADER */
.home_header {
    display: flex;
    justify-content: space-between;
}

.home_main-content {
    padding: 5rem 0 2rem 0;
    background: linear-gradient(#e6646540, #9198e540, #fff);
    min-height: 70vh;
}

.home_main-title {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

/**/
.home_main-img {
    width: 63%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.home_img-bloc {
    width: 230px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.home_main-img img {
    object-fit: cover;
    border-radius: 10px;
    width: 230px;
}

.home_image-blue {
    height: 200px;
}

.home_image-green {
    height: 300px;
}

.home_image-white-cat {
    height: 280px;
}

.home_main-content h1 {
    font-size: 3rem;
}

/* SECTION 2 - DESCRIPTION */
.home_content {
    display: flex;
    flex-direction: row;
    min-height: 50vh;
}

.home_content-img {
    width: 40%;
    object-fit: cover;
}

.home_content-description {
    background-color: var(--main-pink);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.home_detail-description {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.home_detail-description h2{
    margin-bottom: 2rem;
}