.card.card_animal {
    border-radius: 20px;
}

.card_animal {
    width: 22%;
    height: 300px;
    overflow: hidden;
}

.card_animal:hover .overlay {
    display: block;
}

.overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    background-color: var(--main-pink);
}

.description_animal{
    margin: 1rem 0;
    font-style: italic;
}

.card_animal-details {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    color: #fff;
}

.card_animal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.animal_type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--main-pink);
    color: #fff;
    padding: 0.2rem;
    border-radius: 50px;
    opacity: 1;
}