.navigation {
    position: sticky;
    top: 0;
    z-index: 3;
    min-height: 4rem;
    padding: 0 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.navigation_logo img{
    width: 200px;
}

.navigation_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.navigation_menu li {
    list-style-type: none;
}

.log_buttons{
    display: flex;
    gap: 1rem;
}