:root{
  --main-pink: #e66465;
}

body{
  margin: 0;
  display: flex;
  justify-content: center;
}

#root{
  width: 100%;
}

article{
  margin: 0 15rem;
  padding: 3rem;
}

.btn.main_button {
  width: fit-content;
  background-color: var(--main-pink);
  color: #fff;
}

.btn.btn-main-outline {
  width: fit-content;
  border: solid 1px var(--main-pink);
  color: var(--main-pink);;
}