/* PETS LIST */
ul.list_pets{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
}

/* FILTER BUTTONS */
ul.buttons_filter{
    padding: 0;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

/* REGISTER */
.register_animal{
    background-color: #F2F2F2;
}